body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    float: right;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  